/*****
Theme Name: MH Magazine lite Child
Theme URI: https://www.mhthemes.com/themes/mh/magazine-lite/
Description: MH Magazine lite is one of the most popular free responsive magazine, news, newspaper and blog WordPress themes for modern online magazines, dynamic news websites, professional blogs and other editorial websites. This free magazine theme is fast, secure, SEO friendly and perfectly suitable for topics like international news, politics, lifestyle, fashion, business, sports, gadgets, travel or anything else. If you would like to gain access to more awesome features, flexible custom widgets and useful options to customize your website, you can upgrade to the premium version of MH Magazine and take your website to the next level. You can also learn more about this dynamic magazine WordPress theme on the MH Themes website.
Author: MH Themes
Author URI: https://www.mhthemes.com/
Version: 2.7.3
Template: mh-magazine-lite
Tags: one-column, two-columns, left-sidebar, right-sidebar, flexible-header, custom-background, custom-colors, custom-header, custom-logo, custom-menu, featured-images, full-width-template, theme-options, threaded-comments, footer-widgets, translation-ready, rtl-language-support, blog, entertainment, news
Text Domain: mh-magazine-lite
Domain Path: /languages/
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Credits: You may remove the link in the footer, but we would appreciate any attribution to our work!
*****/

/***** Structure *****/

.mh-container-outer { box-shadow: none; }

/***** Typography *****/

body { font-family: "Raleway", sans-serif; color: #5b4747; background: #f9efef; }
h1, h2, h3, h4, h5, h6, .mh-custom-posts-small-title { font-family: "Poly", serif; color: #5b4747; }
pre, code, kbd { color: #5b4747; background: #f9efef; }
blockquote { color: #5b4747; border-color: #fd82b1; }
a { color: #5b4747; }
a:hover { color: #ffadce; }

/***** Header *****/

.mh-header { background: #f9efef; }
.mh-header-tagline { color: #fd82b1; }

/***** Navigation *****/

.mh-main-nav-wrap { background: #ffadce; }
.mh-main-nav { background: #ffadce; border-color: #fd82b1; }
.mh-main-nav li:hover { background: #fd82b1; }
.mh-main-nav ul li:hover > ul { background: #ffadce; }
.mh-main-nav .menu > .current-menu-item { background: none; }
.mh-main-nav .menu > .current-menu-item:hover { background: #fd82b1; }

/***** SlickNav Custom Style *****/

.slicknav_btn { background: #fd82b1; }
.slicknav_menu { border-color: #ffadce; background: #fd82b1; }
.slicknav_nav ul { border-color: #ffadce; }
.slicknav_nav .slicknav_item:hover, .slicknav_nav a:hover { background: #fd82b1; }
.mh-main-nav-wrap .slicknav_btn, .mh-main-nav-wrap .slicknav_menu, .mh-main-nav-wrap .slicknav_nav .slicknav_item:hover, .mh-main-nav-wrap .slicknav_nav a:hover { background: transparent; }
.mh-main-nav-wrap .slicknav_nav ul { border-color: #fd82b1; }
.mh-main-nav-wrap .slicknav_nav ul ul { border: none; }

/***** Posts/Pages *****/

.page-title { color: #5b4747; }
.entry-content a, .entry-content a:hover, .mh-meta a:hover { color: #ffadce; }
.entry-tags li { background: #ffadce; }
.entry-tags li:hover, .entry-tags .fa { background: #fd82b1; }

/***** Pagination *****/

.page-numbers, a .pagelink { color: #5b4747; background: #f9efef; }
.page-numbers:hover, .mh-loop-pagination .current, .mh-comments-pagination .current, a:hover .pagelink, .pagelink { background: #fd82b1; }

/***** Footer *****/

.mh-footer { background: #ffadce; }
.mh-footer a, .mh-footer .mh-meta, .mh-footer .mh-meta a, .mh-footer .mh-meta a:hover { color: #f9efef; }
.mh-copyright-wrap { border-color: rgba(255, 255, 255, 0.3); background: #ffadce; }
.mh-copyright, .mh-copyright a { color: #f9efef; }

/***** Images / Video *****/

.wp-caption-text { color: #5b4747; }

/***** Gallery *****/

.gallery-caption { color: #fff; }

/***** Comments *****/

.mh-comment-meta, .mh-comment-meta a { color: #5b4747; }
.bypostauthor .mh-comment-meta-author:after, .mh-comment-meta-links .comment-reply-link:before, #respond #cancel-comment-reply-link:before { color: #fd82b1; }

/***** Forms *****/

input[type=text]:hover, input[type=email]:hover, input[type=tel]:hover, input[type=url]:hover, textarea:hover { border-color: #fd82b1; }
input[type=submit] { background: #fd82b1; }
input[type=submit]:hover { background: #ffadce; }

/***** Searchform *****/

.mh-widget .search-form { background: #f9efef; }

/***** Widgets *****/

.mh-widget-title-inner { display: inline-block; font-size: 13px; font-size: 0.8125rem; font-weight: 700; color: #fff; padding: 10px 15px; background: #fd82b1; }
.mh-widget-title-inner a { color: #fff; }
.mh-widget-title { padding: 0; border-bottom: none; background: #fd82b1; background: rgba(253, 130, 177, 0.6); }
.mh-footer-widget-title { background: #fd82b1; }

/***** Widgets Areas (Advertising) *****/

.mh-ad-spot, .mh-info-spot { background: #f9efef; }

/***** MH Slider Widget *****/

.mh-slider-widget img { width: 100%; display: block; }
.mh-slider-widget .flex-control-paging li a.flex-active { background: #fd82b1; }
.mh-slider-caption { border-color: #fd82b1; background: #ffadce; background: rgba(255, 173, 206, 0.8); }
.mh-widget-col-1 .mh-slider-caption { background: #ffadce; }
.mh-footer-widget .mh-slider-caption { background: rgba(255, 255, 255, 0.1); }

/***** MH Posts Stacked Widget *****/

.mh-posts-stacked-title { background: #ffadce; background: rgba(255, 173, 206, 0.8); }
.mh-posts-stacked-meta { background: #fd82b1; }
#mh-mobile .mh-footer-widget .mh-posts-stacked-overlay { border-color: #ffadce; }

/***** MH Tabbed Widget *****/

.mh-tabbed-widget, .mh-tabbed-widget a { color: #5b4747; }
.mh-tabbed-widget a:hover { color: #ffadce; }
.mh-tabbed-widget .tagcloud a { color: #fff; }
.mh-tab-buttons { border-bottom: 3px solid #fd82b1; }
.mh-tab-button, .mh-tab-content { background: #f9efef; }
.mh-tab-button.active, .mh-tab-button.active:hover { color: #fff; background: #fd82b1; }
.mh-tab-comment-excerpt { background: rgba(255, 255, 255, 0.6); }
.mh-footer-widget .mh-tabbed-widget, .mh-footer-widget .mh-tabbed-widget a { color: #fff; }
.mh-footer-widget .mh-tab-button.active { background: #fd82b1; }
.mh-footer-widget .mh-tab-comment-excerpt { background: #ffadce; }

/***** WP Calendar Widget *****/

#wp-calendar caption { background: #f9efef; }

/***** WP Tag Cloud Widget *****/

.mh-widget .tagcloud a, .mh-footer-widget .tagcloud a { background: #ffadce; }
.tagcloud a:hover, .mh-widget .tagcloud a:hover, .mh-footer-widget .tagcloud a:hover { background: #fd82b1; }

/***** Media Queries *****/

@media screen and (max-width: 900px) {
	#mh-mobile .mh-slider-caption { background: #ffadce; background: rgba(255, 173, 206, 1); }
}
@media only screen and (max-width: 420px) {
	.mh-copyright-wrap { padding: 15px 20px; }
}
