/*
Theme Name: Circumference Lite
Theme URI: https://www.styledthemes.com/themes/circumference-lite/
Author: Styled Themes
Author URI: https://www.styledthemes.com
Description: Perfect for small businesses, Circumference Lite is a responsive, exceptional theme with clean design and a significant list of features like unlimited colours, full width or boxed page layouts, 14 Widget Positions, extensive theme options using the WordPress Customizer, font based icons, custom gallery styling, a large selection of beautifully styled Post Formats, page templates, several site title/logo options, translation ready, retina ready, built-in social networking, and a child theme that you can install and use for customization, plus much more! Demo: https://demo.styledthemes.com/circumference-lite/
Version: 3.0.5
License: GNU General Public License v3 or later
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Text Domain: circumference-lite
Domain Path: /languages/
Tags: custom-colors, two-columns, three-columns, custom-background, custom-header, custom-menu, featured-images, flexible-header, full-width-template, post-formats, sticky-post, theme-options, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

/* Thanks to FontSquirrel.com for conversion!
 * Font License: /fonts/font-license.txt
-------------------------------------------------------------- */



/* 
 * Embedded Fonts
 * Generated by Font Squirrel (http://www.fontsquirrel.com) on November 22, 2013
 * Fonts by Google
 */
@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot');
    src: url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
         url('fonts/icomoon.woff') format('woff'),
         url('fonts/icomoon.ttf') format('truetype'),
         url('fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
} 

@font-face {
    font-family: 'Open Sans light';
    src: url('fonts/opensans-light.eot');
    src: url('fonts/opensans-light.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-light.woff') format('woff'),
         url('fonts/opensans-light.ttf') format('truetype'),
         url('fonts/opensans-light.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/opensans-regular.eot');
    src: url('fonts/opensans-regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-regular.woff') format('woff'),
         url('fonts/opensans-regular.ttf') format('truetype'),
         url('fonts/opensans-regular.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'raleway';
    src: url('fonts/raleway-regular.eot');
    src: url('fonts/raleway-regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/raleway-regular.woff') format('woff'),
         url('fonts/raleway-regular.ttf') format('truetype'),
         url('fonts/raleway-regular.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*
 * Font Icons 
 * Icomoon
 */
[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
	top: 0;
	display: inline-block;
	
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.icon-home:before {
	content: "\e600";
}
.icon-pinterest:before {
	content: "\e601";
}
.icon-stumbleupon:before {
	content: "\e602";
}
.icon-linkedin:before {
	content: "\e603";
}
.icon-reddit:before {
	content: "\e604";
}
.icon-twitter:before {
	content: "\e605";
}
.icon-twitter2:before {
	content: "\e606";
}
.icon-facebook:before {
	content: "\e607";
}
.icon-facebook2:before {
	content: "\e608";
}
.icon-google-plus:before {
	content: "\e609";
}
.icon-google-plus2:before {
	content: "\e60a";
}
.icon-feed:before {
	content: "\e60b";
}
.icon-feed2:before {
	content: "\e60c";
}
.icon-youtube:before {
	content: "\e60d";
}
.icon-vimeo:before {
	content: "\e60e";
}
.icon-vimeo2:before {
	content: "\e60f";
}
.icon-flickr:before {
	content: "\e610";
}
.icon-flickr2:before {
	content: "\e611";
}
.icon-picassa:before {
	content: "\e612";
}
.icon-wordpress:before {
	content: "\e613";
}
.icon-radio-unchecked:before {
	content: "\e614";
}
.icon-checkbox-unchecked:before {
	content: "\e615";
}
.icon-arrow-right:before {
	content: "\e616";
}
.icon-arrow-right2:before {
	content: "\e617";
}
.icon-arrow-right3:before {
	content: "\e618";
}
.icon-stop:before {
	content: "\e619";
}
.icon-play:before {
	content: "\e61a";
}
.icon-plus:before {
	content: "\e61b";
}
.icon-minus:before {
	content: "\e61c";
}
.icon-checkmark:before {
	content: "\e61d";
}
.icon-checkmark-circle:before {
	content: "\e61e";
}
.icon-cancel-circle:before {
	content: "\e61f";
}
.icon-info:before {
	content: "\e620";
}
.icon-info2:before {
	content: "\e621";
}
.icon-question:before {
	content: "\e622";
}
.icon-notification:before {
	content: "\e623";
}
.icon-globe:before {
	content: "\e624";
}
.icon-earth:before {
	content: "\e625";
}
.icon-eye:before {
	content: "\e626";
}
.icon-bars:before {
	content: "\e627";
}
.icon-cogs:before {
	content: "\e628";
}
.icon-cog:before {
	content: "\e629";
}
.icon-unlocked:before {
	content: "\e62a";
}
.icon-lock:before {
	content: "\e62b";
}
.icon-contract:before {
	content: "\e62c";
}
.icon-search:before {
	content: "\e62d";
}
.icon-users:before {
	content: "\e62e";
}
.icon-user:before {
	content: "\e62f";
}
.icon-bubbles:before {
	content: "\e630";
}
.icon-bubbles2:before {
	content: "\e631";
}
.icon-forward:before {
	content: "\e632";
}
.icon-redo:before {
	content: "\e633";
}
.icon-mobile:before {
	content: "\e634";
}
.icon-pushpin:before {
	content: "\e635";
}
.icon-cart:before {
	content: "\e636";
}
.icon-stack:before {
	content: "\e637";
}
.icon-file:before {
	content: "\e638";
}
.icon-file2:before {
	content: "\e639";
}
.icon-book:before {
	content: "\e63a";
}
.icon-film:before {
	content: "\e63b";
}
.icon-play2:before {
	content: "\e63c";
}
.icon-music:before {
	content: "\e63d";
}
.icon-images:before {
	content: "\e63e";
}
.icon-image:before {
	content: "\e63f";
}
.icon-paint-format:before {
	content: "\e640";
}
.icon-contract2:before {
	content: "\e641";
}
.icon-google-plus3:before {
	content: "\e642";
}
.icon-facebook3:before {
	content: "\e643";
}
.icon-twitter3:before {
	content: "\e644";
}
.icon-feed3:before {
	content: "\e645";
}
.icon-vimeo22:before {
	content: "\e646";
}
.icon-flickr3:before {
	content: "\e647";
}
.icon-picassa2:before {
	content: "\e648";
}
.icon-tumblr2:before {
	content: "\e65e";
}
.icon-instagram:before {
	content: "\e649";
}
.icon-wordpress2:before {
	content: "\e64a";
}
.icon-stumbleupon2:before {
	content: "\e64b";
}
.icon-pinterest2:before {
	content: "\e64c";
}
.icon-file-pdf:before {
	content: "\e64d";
}
.icon-undo:before {
	content: "\e64e";
}
.icon-reply:before {
	content: "\e64f";
}
.icon-arrow-left:before {
	content: "\e650";
}
.icon-arrow-left2:before {
	content: "\e651";
}
.icon-arrow-left3:before {
	content: "\e652";
}
.icon-checkbox-partial:before {
	content: "\e653";
}
.icon-radio-checked:before {
	content: "\e654";
}
.icon-quotes-left:before {
	content: "\e655";
}
.icon-link:before {
	content: "\e656";
}
.icon-alarm:before {
	content: "\e657";
}
.icon-attachment:before {
	content: "\e65a";
}
.icon-mail:before {
	content: "\e65b";
}
.icon-mail2:before {
	content: "\e65c";
}
.icon-phone:before {
	content: "\e65d";
}
.icon-pencil:before {
	content: "\e65e";
}
.icon-envelope:before {
	content: "\e65f";
}
.icon-print:before {
	content: "\e660";
}
.icon-download:before {
	content: "\e661";
}
.icon-upload:before {
	content: "\e662";
}
.icon-checkbox-checked:before {
	content: "\e663";
}
.icon-checkbox-unchecked2:before {
	content: "\e658";
}
.icon-file-pdf2:before {
	content: "\e659";
}




/* Global Styles */
 
html {
	height: 100%;
}
body {}
body * {
-ms-word-wrap: break-word;
word-wrap: break-word;
}
body {
	font-family: 'Open Sans', 'HelveticaNeue', 'Helvetica Neue', arial, Helvetica,  sans-serif;
	font-size: 100%;
	line-height: 1.65;
	background-color: #fff;
	color: #656565;
}

/* Assistive text */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	line-height: normal;
	padding: 15px 23px 14px;
	position: absolute;
	left: 5px;
	top: 5px;
	text-decoration: none;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/* Wrappers */
#cir-wrapper-boxed-medium {
	max-width: 1440px;
	margin: 1.5em auto;
	position: relative;
	-webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, .5);
		    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, .5);
}
#cir-wrapper,
#cir-header,
#cir-banner,
#cir-content-area,
#cir-cta,
#cir-top,
#cir-bottom-wrapper,
#cir-footer-wrapper {
	width: 100%;
	margin: 0 auto;
	position: relative;
}

#cir-content-wrapper {
	padding: 4em 0;
}
#cir-content-wrapper,
#cir-bottom-wrapper {
	font-size: 0.813em;
}
#cir-content-area,
#cir-top {
	padding: 1em 0;
}
#cir-bottom-wrapper {
	padding: 2em 0;
}
#cir-breadcrumbs-wrapper {
	padding:0.75em 0;
	font: italic 0.688em Verdana, "Segoe UI", sans-serif, "Open Sans";
}
#cir-breadcrumbs-wrapper a {
	text-decoration: none;
}

/* Default Top header */
#cir-ann-social-wrapper {
	min-height: 44px; /* this needs to be a fixed height for the layered social icons */
	position:relative;
	border-bottom: 14px solid #f3f3f3;	
	background-color: #25b7c3;
	color: #fff;
}
#cir-announcement {
	padding: 0;
	position: relative;
	z-index: 1;
	top: 1.125em;
	font-size: 0.75em;
}
#cir-social-wrapper {
	height: 2em;
	position: relative;
	z-index:2;
	bottom: -20px; /* adjust position as needed */
}

#socialbar #social-icons {
	text-align: right;
}
#social-icons div {
	position: relative;
	text-align:center;
}

#cir-social {
	padding: 0.5em 0;
}
#social-icons a {
	text-decoration:none;
}

#cir-site-header {
	padding: 2em 0;
}
#cir-logo-group-wrapper {}
#cir-logo-group,
#cir-site-title-group {
	display: inline-block;
	overflow: hidden;
	text-align: left;
}
#cir-logo {
	float:left;
	margin: 0 0.5em 0 0;
}
#cir-site-title {
	font: normal 2.313em/1em raleway;
	margin: 3px 0 0;
}
#cir-site-tagline {
	font:normal 1em "Segoe UI", sans-serif, "Open Sans";
	margin: 0.063em 0 0;
	color: #378b92;
}

#cir-nav {
	text-align: center;
}



/* banner showcase area */
#cir-banner {
	min-height: 2.5em;
	background-color:#7FAAB5;
	background-position: center;
}


/* Call to Action */
#cir-cta {
	text-align: center;
	padding: 1.250em 0;
}
#cir-cta h1 {
	margin-bottom: 0.5em;
}
#cir-cta p {
	font-size: 1.25em;
	line-height: 1.25em;
	margin: 0 0 1.250em;
}


/* search results page */
.no-results {
	min-height: 365px;
	background: transparent url(images/search-bg.png) center top no-repeat;
	text-align: center;
	
}
.search-no-results .page-header {
	text-align: center;
	font-weight: bold;
	margin-bottom: 1em;
}
.no-results p {
	font-size: 1.25em;
}

/* main content area */
#cir-content {}

/* footer area */
#cir-footer-wrapper {
	padding: 0.5em;
	background-color: #000;
	color: #818181;
	font-family: Verdana, "Segoe UI", sans-serif, "Open Sans";
	font-size: 0.688em;
	text-align: center;
}

/* widget groups */
#cir-bottom-group {}
#cir-top-group {}
#cir-content-top-group {}
#cir-content-bottom-group {}


/* Social Networking
------------------------------------------------ */
#socialbar .icomoon {
	font-size: 1em;
	width: 32px;
	height: 32px;
	margin-left:2px;
	padding: 8px 0 0;
	border-radius: 50%;
}


/* Social icons */
#twitter:before { content: '\e605'; }
#facebook:before { content: '\e643'; }
#google:before { content: '\e60a'; }
#linkedin:before { content: '\e603'; }
#pinterest:before { content: '\e601'; }
#flickr:before { content: '\e610'; }
#youtube:before { content: '\e60d'; }
#vimeo:before { content: '\e60f'; }
#instagram:before { content: '\e649'; }
#reddit:before { content: '\e604'; }
#picassa:before { content: '\e612'; }
#wordpress:before { content: '\e613'; }
#stumbleupon:before { content: '\e602'; }
#rss:before { content: '\e60c'; }

/* Links */
#cir-bottom-wrapper a {
	text-decoration: none;
}


/* Typography - Seletion */
::-moz-selection,
::selection {
	text-shadow: none;
	background: #25b6c3;
	color: #fff;
}

/* Typography - Headings */
h1,h2,h3,h4,h5,h6 {
	font-family: Raleway, 'Open Sans Light', Calibri, Sans-serif;
	font-weight: normal;
	color: #343434;
	clear: both;
	margin: 0.25em 0;
}
h1 {
	font-size: 1.875em;
	line-height: 1;
}
h2 {
	font-size: 1.688em;
	line-height: 1;
}
h3 {
	font-size: 1.5em;
	line-height: 1;
}
h4 {
	font-size: 1.375em;
	line-height: 1;
}
h5 {
	font-size: 1.25em;
	line-height: 1;
}
h6 {
	font-size: 1em;
	line-height: 1;
}
h1 a, 
h2 a, 
h3 a, 
h4 a, 
h5 a, 
h6 a {
	color: #40494e;
	text-decoration: none;
}
h1 a:hover, 
h2 a:hover, 
h3 a:hover, 
h4 a:hover, 
h5 a:hover, 
h6 a:hover {
	color: #c6b274;
	text-decoration: none;
}

#cir-announcement h1 {
	font-size: 1.5em;
}

/* Special headings for in-page apple style */
.heading1 {
	font-size: 2.5em;
}
.heading2 {
	color: #a4a4a4;
	font-size: 1.75em;
	line-height: 1.25;
	margin: 0.638em 0 2em;
}

/* Typography - In page elements */
p {
	margin: 1.250em 0;
}

b, strong {
	font-weight: bold;
}
dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 2em 0;
	border-left: 10px solid #c1c8cd;
	padding-left: 1em;
	font-size: 1.063em;
	font-style: italic;
	color: #434343;
}
blockquote p {
	margin: 0;
}
blockquote cite {
	color: #b9bdbf;
	font-size: 0.75em;
	font-weight: 400;
	line-height: 1.5;	
}
blockquote cite:before { 
	content:"\2014";
	margin-right: .5em;
}

blockquote.pull-left {
	margin:.638em 2em .638em 0;
	width: 26%;
}
blockquote.pull-right {
	margin:.638em 0 .638em 2em;
	width: 26%;
}
blockquote.pull-left cite,
blockquote.pull-right cite {
	display: block;
	margin: 2px 0;
}
address {
	margin: 0 0 24px;
}


kbd, tt, var,samp {
	font: 1.063em/1.6 Monaco, Consolas, 'Andale Mono', 'DejaVu Sans Mono', monospace;
}
abbr, acronym {
	border-bottom: 1px dotted #2b2b2b;
	cursor: help;
}
del {
	text-decoration:line-through;
	color: #9f3e20;
}
ins {}
mark {
	background: #9ca9b0;
	color: #fff;
	text-decoration: none;
	padding: 0 0.5em;
}
sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
small {
	font-size: 75%;
}
big {
	font-size: 125%;
}
figure {
	margin: 0;
}
table {
	margin: 0 0 24px;
	width: 100%;
}
th {
	font-weight: bold;
}


/* Typography - Display code */
pre {
	background: #eee;
	border-left: 0.813em solid #c6b274;
	color: #333;
	font-family: 'Source Code Pro', Courier, monospace;
	font-size: 0.938em;
	line-height: 1.6;
	margin: 2em 0;
	max-width: 100%;
	overflow: auto;
	padding: 1em;
}


/* bootstrap responsive images 
img {
  display: block;
  max-width: 100%;
  height: auto;
}*/

/* WP Responsive images. Fluid images for posts, comments, and widgets */
#cir-banner img,
.comment-content img,
.entry-content img,
.entry-summary img,
#site-header img,
.widget img,
.wp-caption {
	max-width: 100%;
}

/**
 * Make sure images with WordPress-added height and width attributes are
 * scaled correctly.
 */
#cir-banner img,
.comment-content img[height],
.entry-content img,
.entry-summary img,
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"],
#site-header img {
	height: auto;
}
img.size-full,
img.size-large,
.wp-post-image,
.post-thumbnail img,
.page-thumbnail img {
	height: auto;
	max-width: 100%;
}

/* Make sure embeds and iframes fit their containers */

embed,
iframe,
object,
video {
	margin-bottom: 24px;
	max-width: 100%;
}

p > embed,
p > iframe,
p > object,
span > embed,
span > iframe,
span > object {
	margin-bottom: 0;
}



/* Circumference Image Styles */
.cir-circle {
	border-radius:50%;
	border: 8px solid #ebebeb;
	}

.cir-thumbnail {
	padding: 8px;
	background-color:#f0f0f0;
	border:1px solid #d5d5d5;
	-webkit-transition: all 1s ease-in-out;
	        transition: all 1s ease-in-out;
	display:inline-block;
	max-width:100%;
	height:auto;
	}
/* Standard WordPress image styles */	
.alignnone {
    margin: 0.5em 30px 20px 0;
}
.aligncenter,
div.aligncenter {
    display: block;
    margin: 0.5em auto 5px auto;
}
.alignright {
    float:right;
    margin: 0.5em 0 20px 30px;
}
.alignleft {
    float: left;
    margin: 0.5em 30px 20px 0;
}
.aligncenter {
    display: block;
    margin: 0.5em auto;
}
a img.alignright {
    float: right;
    margin: 0.5em 0 20px 30px;
}
a img.alignnone {
    margin: 0.5em 20px 20px 0;
}
a img.alignleft {
    float: left;
    margin: 0.5em 30px 20px 0;
}
a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}
.wp-caption {
    max-width: 100%; /* Image does not overflow the content area */
    padding: 0;
    text-align: center;
}
.wp-caption.alignnone {
    margin: 1.25em 20px 20px 0;
}
.wp-caption.alignleft {
    margin: 1.25em 30px 20px 0;
}
.wp-caption.alignright {
    margin: 1.25em 0 20px 30px;
}
.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 100%;
    padding: 0;
    width: auto;
}
figcaption.wp-caption-text {
    font-size: 0.938em;
    line-height: 1.5em;
    margin: 2px 0 0;
    padding: 2px 4px 3px;
	color: #656565;
	background-color: #e2e5e7;
}
#cir-banner .aligncenter,
#cir-banner .alignleft,
#cir-banner .alignright,
#cir-banner .alignnone {
	margin: 0;
	max-width: 100%;
}
#cir-banner .aligncenter {
	margin: 0 auto;
}

/* WordPress Gallery */

.gallery {
	margin-bottom: 20px;
	margin-left:-5px;
}

.gallery-item {
	float: left;
	margin: 15px;	
	overflow: hidden;
	position: relative;
}


.gallery-columns-1 .gallery-item {
	max-width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 47.5%;
	max-width: -webkit-calc(50% - 30px);
	max-width:         calc(50% - 30px);
}

.gallery-columns-3 .gallery-item {
	max-width: 31%;
	max-width: -webkit-calc(33.3% - 30px);
	max-width:         calc(33.3% - 30px);
}

.gallery-columns-4 .gallery-item {
	max-width: 22.5%;
	max-width: -webkit-calc(25% - 30px);
	max-width:         calc(25% - 30px);
}

.gallery-columns-5 .gallery-item {
	max-width: 17%;
	max-width: -webkit-calc(20% - 30px);
	max-width:         calc(20% - 30px);
}

.gallery-columns-6 .gallery-item {
	max-width: 14%;
	max-width: -webkit-calc(16.7% - 30px);
	max-width:         calc(16.7% - 30px);
}

.gallery-columns-7 .gallery-item {
	max-width: 11.5%;
	max-width: -webkit-calc(14.28% - 30px);
	max-width:         calc(14.28% - 30px);
}

.gallery-columns-8 .gallery-item {
	max-width: 10%;
	max-width: -webkit-calc(12.5% - 30px);
	max-width:         calc(12.5% - 30px);
}

.gallery-columns-9 .gallery-item {
	max-width: 8%;
	max-width: -webkit-calc(11.1% - 30px);
	max-width:         calc(11.1% - 30px);
}
.gallery-columns-10 .gallery-item {
	max-width: 6%;
	max-width: -webkit-calc(10.1% - 30px);
	max-width:         calc(10.1% - 30px);
}

.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n),
.gallery-columns-3 .gallery-item:nth-of-type(3n),
.gallery-columns-4 .gallery-item:nth-of-type(4n),
.gallery-columns-5 .gallery-item:nth-of-type(5n),
.gallery-columns-6 .gallery-item:nth-of-type(6n),
.gallery-columns-7 .gallery-item:nth-of-type(7n),
.gallery-columns-8 .gallery-item:nth-of-type(8n),
.gallery-columns-9 .gallery-item:nth-of-type(9n),
.gallery-columns-10 .gallery-item:nth-of-type(10n) {
	margin-right: 0;
}

.gallery-caption {
	background-color: rgba(0, 0, 0, 0.7);
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
	color: #fff;
	font-size: 12px;
	line-height: 1.5;
	margin: 0;
	max-height: 50%;
	opacity: 0;
	padding: 6px 8px;
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: left;
	width: 100%;
}

.gallery-caption:before {
	content: "";
	height: 100%;
	min-height: 49px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.gallery-item:hover .gallery-caption {
	opacity: 1;
}

.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
}

/* Attachment page when viewing an photo with the WP Gallery */
.type-attachment {
	text-align: center;
}
.type-attachment p {
	max-width: 70%;
	margin: 1em auto;
}
.entry-attachment {
	margin: 1.5em auto;
}
.attachment img {
	display: inline-block;
	text-align: center;
}
.entry-caption {
	font-size: 1.5em;
}

/* 404 page */
.error-content {
	text-align: center;
	background: transparent url(images/404.png) center top no-repeat    ;
	min-height: 400px;
}
.error-content .input-group-box {
	max-width: 35em;
	margin: 2em auto;
}

/* Page Featured Image */
.page-thumbnail {
	margin: 1.75em auto 2.5em;
}

/* Standard blog layout */
.post-thumbnail {
	margin: 1.75em 0;
	text-align: left;
}
.entry-meta {
	margin: 0;
	color: #9ca9b0;
	font-size: 0.875em;
	text-transform: uppercase;
}
.entry-meta span {
	margin-right:0.688em;
}
footer.entry-meta {
	clear: both;
	margin: 3em 0;
	text-transform:none;
}
footer.entry-meta span {
	font-weight:700;
}
footer span.entry-meta-value {
	font-weight: normal;
}

.meta-tagged,
.meta-posted,
.meta-date,
.meta-author {}
.bypostauthor {}

.sticky {}
.featured-post {
	background-color: #c6b274;
	color: #fff;
	font-size: 0.5em;
	text-transform:uppercase;
	margin-right: 1em;
	padding: 0.125em 1em;
	position: relative;
	bottom: 0.250em;
}

/* edit link */
header .edit-link {
	display:inline-block;
	width: 32px;
	height: 32px;
	vertical-align: middle;
	text-align: center;
	background-color: #e2e5e7;
	border-radius: 50%;
	padding-top: 11px;
	font-size: 11px;
	margin: -4px 12px 0 0;
}
header .edit-link:hover {
	background-color: #c6b274;
	cursor: pointer;
}
header .edit-link a {
	color:#656565;
}
header .edit-link:hover a {
	color: #fff;
}



/* Categories */
.page-header {
	margin-bottom: 3.5em;
}

/* post formats */
.post-format-icon {
	font-size: 1.125em;
}

/* post format aside */
.format-aside .col-md-3 {
	padding-right:0;
	text-align: center;
}
.format-aside footer {
	margin:0;
}
.format-aside footer span {
	font-weight: normal;
}
.format-aside .post-thumbnail {
	margin: 1.313em auto;
}

/* post format status */
.format-status .col-md-2 {
	padding-right:0;
	text-align: center;
}
.format-status footer {
	margin:0;
}
.format-status .avatar {
	border-radius: 50%;
	margin: 0 auto;
}
.format-status footer span {
	font-weight: normal;
}
.status-entry-title {
	font-size: 1.5em;
}

/* post format quote */
.format-quote .entry-content {}
.format-quote .entry-title {
	font-size: 1.25em;
	line-height: 1.438em;
	font-weight:bold;
	font-style:normal;
}
.format-quote .icon-quotes-left {
	font-size: 1.75em;
	top: 5px;
	margin-right: 0.313em;
	color: #a9abb3;
}
.format-quote .entry-content {
	font-family:Helvetica, "Segoe UI", "Open Sans", Arial;
	font-size: 1em;
	font-style: italic;
}
.format-quote .testimonial-thumbnail {
	max-height: 160px;
	max-width: 160px;
	margin: 1em 0 0 0;
	float: left;
}
.format-quote .testimonial-thumbnail img {
	border-radius: 50%;
	border: 0.5em solid #e2e5e7;
}
/* post format audio */
.format-audio .audio-thumbnail img {
	margin: 0 auto 2em;
	display: block;
}
.format-audio .entry-content,
.single-format-audio .entry-content {
	text-align: center;
}
.format-audio .wp-audio-shortcode,
.format-audio .mejs-audio {
	margin: 2em auto;
	clear: both;
}

/* post format link */
.format-link .link-thumbnail {
	max-height: 160px;
	max-width: 160px;
	margin: 0.75em 0 0 0;
	float: left;
}
.format-link p a {
	display: inline;
	position: relative;
	top:0;
	padding: 0.25em 1em;
	background: #384149;
	color: #FFF;
	text-transform: uppercase;
	vertical-align: top;
	border-radius: 4px;
	font-size: 0.875em;
	line-height: 1.5;
	text-decoration: none;
}
.format-link p a:hover {
	background-color:#e2e5e7;
	color: #656565;
}
.format-link .entry-content-link {
	margin-left: 13.5em;
	overflow: hidden;
}

/* pagination */
.nav-links {
	display: table;
  	border-collapse: separate;
  	border-spacing: 5px;
}
.nav-links-buttons {
	display: table-row;
}
.previous-next {
	text-transform: uppercase;
	padding-left: 1em;
	display: table-cell;
	font-style: normal;
	vertical-align: middle;
	font-size: 0.938em;
	height: 26px;
}
.paging-navigation,
.post-navigation {
	clear: both;
	margin: 3em 0;
	font-style:italic;
}
.paging-navigation {
	border-top: 1px solid #e2e5e7;
	border-bottom: 1px solid #e2e5e7;
}
.image-navigation {
	text-align: center;
}
.paging-navigation .nav-previous,
.paging-navigation .nav-next,
.post-navigation .nav-previous,
.post-navigation .nav-next,
.image-navigation .previous-image,
.image-navigation .next-image {
	display: table-cell;
	vertical-align: middle;
	width: 2em;
	height: 2em;
	background-color: #9ca9b0;
	border-radius: 50%;
	color: #fff;
	text-align: center;
	padding-top: 4px;
	font-size: 1.250em;
}
.image-navigation .previous-image,
.image-navigation .next-image {
	display: inline-block;
}
.post-navigation .nav-previous,
.post-navigation .nav-next {
	width: 1.75em;
	height: 1.75em;
	margin: -2px 5px 3px 0;
	padding-top: 1px;
	font-size: 1.063em;	
	float:left;
}
.nav-previous:hover,
.nav-next:hover,
.next-image:hover,
.previous-image:hover {
	background-color: #c6b274;
	cursor: pointer;
	color: #fff;
}
.paging-navigation a {
	color: #fff;
}
.post-navigation a {
	color: #656565;
}
.post-navigation a:hover {
	text-decoration: none;
}

/* pagination: multi-pages */
.pagination-wrapper {
	margin: 3em 0;
	padding: 0.5em 0;
	border-top: 1px solid #e2e5e7;
	border-bottom: 1px solid #e2e5e7;
}
.pagination-wrapper label {
	float: left;
	margin-top: 3px;
	margin-right: 0.313em;
	font-size: 1.063em;
	text-transform: uppercase;
	
}
.pagination {
	margin: 0;
	padding-left: 2.5em;
}
.pagination li:before {
	content: "";
	padding:0;
}
.pagination li {
	display: inline;
	padding: 0;
	
}
.pagination li a,
.pagination li span {
	display: block;
	width: 2.25em;
	height: 2.25em;
	float: left;
	margin-right: 0.25em;
	border-radius: 50%;
	background-color: #E2E5E7;
	text-align: center;
	font-size: 1em;
	line-height: 2.25em;
	font-weight: normal;
	text-decoration: none;
}
.pagination li,
.pagination li a {
	color: #656565;
}
.pagination li a:hover,
.pagination span.active {
	background-color: #9ca9b0;
	color: #fff;
}


/* Post Comments */
.comments-area {
	margin: 3em 0;
}
.comments-title {
	padding: 5px 5px 7px 8px;
	font-size: 1.313em;
	font-weight: 600;
	background-color: #9ca9b0;
	color: #fff;
}
.comments-title:before {
	font-family: icomoon;
	font-size: 1.125em;
	content: "\e631";
	position: relative;	
	margin-right: 0.25em;
	top: 2px;
}
.comment-list {
	margin: 2em 0;
	list-style: none;
	padding:0;
}
.comment-list .children li::before {
	content: '';
}
.comment-list .children {
	list-style: none;
	margin-left: 4em;
	padding: 0;
}
.comment-wrapper {

	padding-top: 1em;
}
.comment-body {
	margin-left: 6em;
}
.children .comment-body {
	margin-left: 4em;
}
.comment-avatar {
	display: inline-block;
	float:left;

}
.comment-avatar .avatar {
	border-radius: 50%;
}
.children .avatar {
	width: 40px;
	height: 40px;
}
.comment-author cite.fn{
	font-style:normal;
	font-size: 1.125em;
	font-weight:700;
}
.comment-meta {	
	font: bold 0.938em "Open Sans", "Segoe UI", sans-serif;
}
.comment-metadata .edit-link {
	font-weight:400;
}
.comment-metadata .edit-link,
.comment-metadata .reply {
	display: inline-block;
	margin: 0 5px;
}

.comment-content {
	font-style:italic;
	line-height: 1.5;
	color: #89959b;
	border-bottom: 1px solid #d4dadd;
}
.comment-content p {
	margin: 0.5em auto 1.250em;
}
.comment-content blockquote {
	border: none;
	background-color: #f3f3f3;
	margin: 1em 0;
	padding: .75em 1em .25em;
	font-size: 1em;
	color: #656565;
}
#respond {
	margin: 3em 0;
	padding: 2em 0;
}


/* Widget Styles */
.widget {
	margin-bottom: 3em;
}
#cir-bottom-wrapper .widget,
#cir-footer-wrapper .widget {
	margin-bottom: 0;
}


/* widget style 7 Lists */
.widget ul,
#cir-bottom-wrapper .widget ul {
	list-style: none;
	margin: 1.250em 0;
	padding:0;
}
.widget ul ul {
	margin: 0 0 0 0.938em;
	padding:0;
}
#cir-bottom-wrapper ul {
	margin: 1.250em 0 0;
}

	
/* List Styles */
dt {
	font-weight: bold;
}
dd {
	margin: 0 0 1em 1.5em;
}
ul, ol {
	margin: 0 0 24px 22px;
}
ul {
	list-style: disc;
	margin: 1.250em;
	padding:0;
}
ol {
	list-style: decimal;
	margin: 1.250em;
	padding-left: 2.5em;
}
li > ul, 
li > ol {
	margin: 5px 0 5px 7px;
}
li > ol,
aside li > ul {
	margin: 0.5em 0;
}
ul li {
	margin-left: 2.125em;
	padding: 0;
	position: relative;
	box-sizing: border-box;
	line-height: 1.75;
}
aside ul li {
	list-style: disc;
}


ul.list-curve-arrow li,
ul.list-lines li {
	margin-left: 0;
	padding: 0 0 0 2.125em;
	position: relative;
	box-sizing: border-box;
	line-height: 1.75;
}
ul.list-curve-arrow li:before,
ul.list-lines li:before {
	content: '';
	width: 20px;
	height: 20px;
	position: absolute;
	display: inline-block;
	top: 1px;
	left: 0px; 
	padding: 0 0 0 6px; 
	font-family: 'icomoon';
	font-size:12px;
	line-height:1;
	color: #979da2;
}
/* list default */
ul li:before {
	content: '';	
}
/* list curved arrow */
ul.list-curve-arrow li {
	list-style: none;
}
ul.list-curve-arrow li:before,
aside .list-curve-arrow.widget li:before {
	content: "\e632";
	font-size: 1em;	
	line-height:1.75;	
}
/* list lines */
ul.list-lines li,
.widget.list-lines li {
	list-style: none;
}
.widget.list-lines li {
	margin-left: 0;
}
ul.list-lines,
aside ul.list-lines li:before {
	padding-left: 2.25em;
}
ul.list-lines li:before,
.widget.list-lines li:before,
aside ul.list-lines li:before {
	content: '';
}

ul.list-lines li,
.widget.list-lines li,
#cir-bottom-wrapper ul.list-lines li {
	border-bottom: 1px solid #e2e5e7;
	padding: 0.25em 0 0.25em 0;
}
#cir-bottom-wrapper ul.list-lines li {
	border-color: #5c646b;
}


/* list ordered */
ol.list-upper-alpha {
	list-style:upper-alpha;
}
ol.list-upper-alpha li > ol {
	list-style:lower-alpha;
}
ol.list-leading-zero {
	list-style:decimal-leading-zero;
}

/* dividers */
hr {
	border-top:1px solid #e2e5e7;
	height: 1px;
	margin-bottom: 23px;
	background-color: rgba(0, 0, 0, 0.1);
}
.article-separator {
	height: 1.75em;
}
hr,
.cir-divider-dotline {
	margin: 2em 0;
	height: 0;
	clear: both;
}
.cir-divider-space {
	height: 2em;
	clear: both;
}
header .cir-divider-dotline {
	margin: 1em 0;
	display:block;
}
.cir-divider-dotline {	
	position: relative;
	border-bottom: 1px solid #e2e5e7;
}
.cir-divider-dotline .cir-dot {
	width: 13px;
	height: 13px;
	display: inline-block;
	background-color: #e2e5e7;
	border-radius: 50%;
	position: absolute;
	left: 0;
	bottom: -7px;
}

/* Info Boxes */
.cir-infobox,
.cir-infobox-content {
	overflow:hidden;
	zoom:1;
}
.cir-infobox-label.pull-left {
	margin-right:1em;
}
.cir-infobox {
	padding: 1em;
	margin: 2em auto;
	background-color: #e7ecef;
}
.cir-infobox-label {
	margin-top: 0.5em;
	padding: 0.5em 1em;
	background-color: #707886;
	color: #fff;
	font: bold 1em arial, "Segoe UI", sans-serif, "Open Sans";
	text-transform: uppercase;
}
.cir-infobox.aqua {
	background-color: #e1f1f2;
	color: #22acb7;
}
.cir-infobox.aqua .cir-infobox-label {
	background-color: #25b7c3;
	color: #fff;
}
.cir-infobox.brown {
	background-color: #efe7e1;
	color: #a97046;
}
.cir-infobox.brown .cir-infobox-label {
	background-color: #a97046;
	color: #fff;
}
.cir-infobox.tan {
	background-color: #f0ecde;
	color: #bba45e;
}
.cir-infobox.tan .cir-infobox-label {
	background-color: #c6b274;
	color: #fff;
}
.cir-infobox.red {
	background-color: #e8dbd7;
	color: #9f3e20;
}
.cir-infobox.red .cir-infobox-label {
	background-color: #9f3e20;
	color: #fff;
}
.cir-infobox.orange {
	background-color: #f2ece1;
	color: #dd992a;
}
.cir-infobox.orange .cir-infobox-label {
	background-color: #dd992a;
	color: #fff;
}
.cir-infobox.green {
	background-color: #f5f5e7;
	color: #a7ab3a;
}
.cir-infobox.green .cir-infobox-label {
	background-color: #bec244;
	color: #fff;
}

/* Media Boxes */
.cir-mediabox1 {
	margin: 2em 0;
	padding-bottom: 1em;
	text-align: center;
}
.cir-mediabox1 img {
	display: block;
	margin-left: auto;
    margin-right: auto;
}
.cir-mediabox1 h3{
	margin: 1em 0.75em;
}
.cir-mediabox1 p {}


/* WordPress default widgets */
.widget_calendar caption {
	font-family: Arial, sans-serif;
	text-transform: uppercase;
	background-color: #384149;
	margin-bottom: 1px;
	padding: 5px 3px;
	border-radius: 3px 3px 0px 0px;
	color: #fff;
}
.widget_calendar th {
	background: padding-box padding-box #E2E3E4;
	border-left: 1px solid rgba(0, 0, 0, 0);
	color: #333;
	text-align: center;
	font-weight: bold;
}
.widget_calendar tbody, .widget_calendar thead {
	border: 1px solid #E2E3E4;
}
.widget_calendar tbody td {
	background: padding-box padding-box #FCFDFD;
	border-left: 1px solid rgba(0, 0, 0, 0);
	 border-top: 1px solid rgba(0, 0, 0, 0);
	text-align: center;
}
.widget_calendar tbody td:first-child {
	border-left: none;
}
.widget_calendar tbody td#today {
	background-color: #9ca9b0;
	color: #FFF;
	font-weight: bold;
}
.widget_calendar tbody td#today a {
	color: #fff;
}

/* WP Default widget - Tag Cloud */
.tagcloud {
	margin: 1.75em 0;
}
.tagcloud a {
	display: inline-block;
	font-size: 1em!important;
	margin: 0 5px 6px 0;
	border: 1px solid #e2e3e4;
	border-radius: 3px;
	padding: 0 .5em;
}
.tagcloud a:hover {
	border-color: #9ca9b0;
	text-decoration: none;
}

/* Tables */
table td {
	vertical-align: middle;
}
.table-grey thead {
	background-color: #9CA9B0;
	color: #fff;
}
.table-grey > thead > tr > th {border: none;}
.table-grey {
	border-color: #9CA9B0;
}

/* Third party plugins - Recent Posts Plus */
.widget_recent_entries li:before {
	content: "";
}
.widget_recent_entries li {
	border-bottom: 1px solid #e2e5e7;
	padding: 0.25em 0 0.25em 0;
}
[id^="recent-posts-plus-"] li, [id*="recent-posts-plus-"] li {
	margin-bottom: 1.25em;
	padding: 0 0 1.125em 0;
	border-bottom: 3px double #E2E5E7;
}

.widget_recent_entries h4 {
	font-size: 1em;
	display: inline;
	font-weight:700;
}
.widget_recent_entries .rpp-box {
	display: block;
	overflow: hidden;
}
.widget_recent_entries img {
	float: left;
	margin: 0.5em 1em 0 0;
}
.widget_recent_entries p,
.widget_recent_entries .rpp-date {
	margin: 0;
	font-size: 0.875em;
}

/* Widgetkit Slideshow */
.wk-slideshow-circumference .caption {
}
.caption1,
.caption2 {
	font: bold 2em/1em Helvetica, "Segoe UI", "Open Sans", Arial;
}
.caption2 {
	font-weight: normal;
}
.caption3 {
	font: normal 3em/1em raleway;
}
.caption2 span {
	font-size: 0.75em;
}

/* Widgetkit Twitter */
.wk-twitter-circumference .image {
	display: block;
	margin: 3px 10px 0 0;
	padding: 0;
	float: left;
	
}
.wk-twitter-circumference article {
	margin-top: 5px;
	padding-top: 5px;
	overflow: hidden;
}
.wk-twitter-circumference article:first-child {
	margin: 0;
	padding: 0;
	border: none;
}
.wk-twitter-circumference .image img { 
	border-radius: 50%;
}

.wk-twitter-circumference p { 
	margin: 0;
	line-height:1.25;
	font-style: italic;
 }

.wk-twitter-circumference .meta {
	font-size: 11px;
	font-style: italic;
	text-align: right;
}
.wk-twitter-circumference li::before {
	content: '';
}
.wk-twitter-circumference li {
	padding: 10px 0!important;
	clear: both;
}

#bottom-group .wk-twitter-circumference {
	list-style:none;
	margin-top: 0;
	padding-left: 0;
}





/* Adjust your font sizes as needed based on your font sizing above - use child theme or a CSS Editor plugin */
@media (min-width: 769px) and (max-width:1024px) { /* for tablets */
	.wk-slideshow-circumference .caption {bottom:2.5em!important; left: -2em!important; }
	.wk-slideshow-circumference .caption .caption1,
	.wk-slideshow-circumference .caption .caption2 {font-size: 150%;}
	.wk-slideshow-circumference .caption3 {font-size: 160%;}
}
@media (min-width: 481px) and (max-width:768px) { /* for mobile phones to tablets */
	.wk-slideshow-circumference .caption {bottom:2.5em!important; left: -2em!important;}
	.wk-slideshow-circumference .caption1,
	.wk-slideshow-circumference .caption2 {font-size: 120%;}
	.wk-slideshow-circumference .caption3 {font-size: 130%;}
}

@media (min-width: 321px) and (max-width: 480px) { /* For mobile phones */
	.wk-slideshow-circumference .caption {bottom:1.5em!important; left: -1em!important;}
	.wk-slideshow-circumference .caption1,
	.wk-slideshow-circumference .caption2 {font-size: 110%;}
	.wk-slideshow-circumference .caption3 {font-size: 120%;}
}
@media (max-width: 320px) { /* For smaller phones */
	.wk-slideshow-circumference .caption {bottom:1em!important; left: -1em!important;}
	.wk-slideshow-circumference .caption1,
	.wk-slideshow-circumference .caption2 {font-size: 100%;}
	.wk-slideshow-circumference .caption3 {font-size: 110%;}
}



#secondary-nav .navbar {
	margin:0;
}
.navbar {
	margin: 12px 0 0 0;
	text-transform: uppercase;
}
.main-navigation {
	position: relative;
}

ul.nav-menu,
div.nav-menu > ul {
	margin: 0;
	padding: 0;
	text-align: right;
}
#secondary-nav ul.nav-menu {
	text-align: center;
}
.nav-menu li:before {
	content: '';
}
.nav-menu li {
	display: inline-block;
	position: relative;
	font-size: 0.813em;
	margin-left: 0;
	padding: 0;
}
.nav-menu li a {
	display: block;	
	line-height: 1;
	padding: 1em 0.75em;
	text-decoration: none;
}
/* no background on mouseover for main level items */
.nav-menu li a:hover {
	background-color: transparent;
	
}
/* submenus have a default background colour */
.nav-menu .sub-menu,
.nav-menu .children {
	margin:0;
	padding: 1em 0;	
	-webkit-box-shadow: 0 8px 8px 0 rgba(0,0,0,.3);
	box-shadow: 0 8px 8px 0 rgba(0,0,0,.3);
	border-bottom: 0.813em solid #dd992a;
	border-top: 0;
	text-align: center;
	display: none;
	position: absolute;
	z-index: 99999;	
}

.nav-menu .sub-menu li,
.nav-menu .children li {
	font-size: 12px;
	text-transform:none;	
}
.nav-menu .sub-menu ul,
.nav-menu .children ul {
	right: 100%;
	top: 0;
}

/* width and colour for the sub menu */
ul.nav-menu ul a,
.nav-menu ul ul a {	
	margin: 0;
	width: 210px;
	padding: 12px 16px;
}

ul.nav-menu li:hover > ul,
.nav-menu ul li:hover > ul {
	display: block;
	/* center the submenu block below the parent */
	margin-right:-100px;
   	right: 50%;
}

ul.nav-menu li:hover ul ul,
.nav-menu ul li:hover ul ul {
	/* cancel out centering block for 3rd level */	 
	margin-right:auto;
   	right: 90%;
}
#secondary-nav ul.nav-menu li:hover ul ul,
#secondary-nav .nav-menu ul li:hover ul ul {
	/* cancel out centering block for 3rd level */	 
   	right: 90%;
}
.nav-menu .current_page_item > a,
.nav-menu .current_page_ancestor > a,
.nav-menu .current-menu-item > a,
.nav-menu .current-menu-ancestor > a {	
	font-style: italic;
}
.menu-toggle {
	display: none;
}

/* Mobile menu styling */

@media (max-width: 643px) {
	.menu-toggle-wrapper {
		text-align: center;
	}
	#secondary-nav .menu-toggle-wrapper {
		padding-top: 0.5em;
	}
	.menu-toggle {
		cursor: pointer;
		display: inline-block;
		font: bold 12px/1.3 'Open Sans', Calibri, Sans-serif;
		margin: 0 auto 1em;
		height: 50px;
		width:50px;
		text-align: center;
		padding-top: 17px;
		border-radius: 100px;
		background-color: #eeeeee;
		color: #555;
	}
	.menu-toggle:hover {
		border: 1px solid #d4d4d4;
		padding-top: 16px;
	}

	.toggled-on .nav-menu,
	.toggled-on .nav-menu > ul {
		display: block;
		margin-left: 0;
		padding: 0;
		width: 100%;
	}
	.toggled-on li,
	.toggled-on .children {
		display: block;
		text-align:left;		
	}
	.toggled-on .nav-menu li > ul {
		background-color: transparent;
		display: block;
		float: none;
		margin-left: 20px;
		padding: 3px 0;
		position: relative;
		right: auto;
		top: auto;	
		/* remove the full menu shadow and border*/
		-webkit-box-shadow: none;
		box-shadow: none;
		border-bottom: none;
	}

/* cancel out the centering of the submenu block below the parent */
	ul.nav-menu li:hover > ul,
	.nav-menu ul li:hover > ul {			
		margin-right:0;
		right: auto;
	}
/* cancel out centering block for 3rd level */	
	ul.nav-menu li:hover ul ul,
	.nav-menu ul li:hover ul ul,
	#secondary-nav ul.nav-menu li:hover ul ul,
	#secondary-nav .nav-menu ul li:hover ul ul {		 
		margin-right:auto;
		right: auto;
	}

	.toggled-on .nav-menu li:hover > ul li:hover {
		background-color: transparent;
	}
	.toggled-on .nav-menu li a {
		padding: 0.613em;
	}
	.toggled-on .nav-menu li > ul a {
		
		width: auto;
		padding: 0.5em;
	}

	.toggled-on .nav-menu li:hover > a,
	.toggled-on .nav-menu .children a {
		background-color: transparent;
		
	}

	.toggled-on .nav-menu li a:hover,
	.toggled-on .nav-menu ul a:hover {
		background-color: #eeeeee;
	}

	#secondary-nav .toggled-on .nav-menu li a:hover {
		background-color: #D7C58C;
	}
	#secondary-nav .toggled-on .nav-menu ul.sub-menu li:hover {
		background-color: transparent;	
	}
	ul.nav-menu,
	div.nav-menu > ul {
		display: none;
	}
	
	.format-quote .entry-content {
		text-align: center;
	}
	.format-quote .testimonial-thumbnail {
		float:none;
		margin:auto;
	}

}


/* Navigation - Footer Menu */
#footer-menu {
	margin: 0;
	padding-left: 0;
	font-size: 1em;
	text-align:center;
}
#footer-menu li {
	display:inline;
	margin:0;
	padding-left:0;
	background-image: none;
 }
#footer-menu li a {
	margin:0 2px 0 5px;
}
#footer-menu li:before { 
	content:"-";
	margin-top: -4px;
	
}
#footer-menu li:first-child:before {
	content:"";
}
#footer-menu li a:hover {
	text-decoration:none;
}


@media screen and (max-width: 320px) {

	#cir-ann-social-wrapper {}
	#cir-social-wrapper {}
	#cir-announcement,
	#socialbar #social-icons {
		text-align: center;
	}
	#cir-logo-group-wrapper {
		text-align: center;
	}
	
}
@media (min-width: 321px) and (max-width: 480px) {
	#cir-logo-group-wrapper {
		text-align: center;
	}
	#cir-ann-social-wrapper {}
		#cir-social-wrapper {}
}
	
@media screen and (max-width: 480px) {
	
	#cir-announcement,
	#socialbar #social-icons {
		text-align: center;
	}
	#cir-logo {
		float: none;
		margin-right:0;
		text-align: center;
		margin-bottom: 1em;
	}
	#cir-logo img {
		display: inline-block;
	}
	.masonry-box{
		width:410px;
		margin-bottom: 20px;
	}
	.post-thumbnail.alignleft {
		display: block;
		float: none;
		margin: 0.75em 0;
		text-align: center;
	}
	
}
@media (min-width: 481px) and (max-width: 768px) {

	ul.nav-menu,
	div.nav-menu > ul {
		text-align: center;
	}
		
}
@media screen and (max-width: 768px) {
	#cir-wrapper-boxed {
		width: 100%;
		margin: 0;
	}
}

.logo img {width:100%;}

/*
============================================================
@ MOVE TO TOP
============================================================
*/
.circumference_move_to_top {
	float: right;
	bottom: 1em;
	border: 1px solid #000;
	padding: 0.5em 0.75em;
	list-style: none;
	text-decoration: none;
	outline: none;
	cursor: pointer;
	z-index: 99999;
	position: fixed;
	right: 2%;
	display: none;
}
.circumference_move_to_top:focus, .circumference_move_to_top:hover, .circumference_move_to_top:visited {
	background-color: #000;
	color: #fff;
	list-style: none;
	text-decoration: none;
	outline: none;
}
.circumference_footer #social-icons {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.icon-arrow-up:before {
    content: "\e901";
}

/*Building search form on header section*/
@media all and ( min-width: 320px ) and ( max-width: 768px) { 
	span.cir-search-bottom {
	    float: right;
	    margin: -33px;
	    display: none;
	}
}

span.cir-search-bottom {
    float: right;
    margin: -33px;
}

.cir-search-bottom .fa-search:hover {
	 cursor: pointer; 
}

.cir-overlay-form {  
    height: 100%;
    width: 100%;
    position: fixed; 
    z-index: 9999;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.9); 
    transition: 0.5s;
}

.cir-overlay-form  form.search-form {
    padding: 20% 5%;
    display: block;
}


.cir-overlay-form  .input-group {
    width: 100%;
    height: 105px;
}

.cir-overlay-form  input.form-control {
    height: 60px;
}

.cir-overlay-form .input-group-btn {
    position: absolute;
    font-size: 0;
    white-space: nowrap;
    top: 0;
    right: 0;
    z-index: 9999;
}

.cir-overlay-form  i.fa.fa-times {
    padding: 11px 5px;
    font-size: 1.5rem;
}

.cir-overlay-form .btn {
    color: #656565;
    background-color: #fff;
    /* border-color: #e2e5e7; */
}


.cir-overlay-form button.btn.btn-default {
    padding: 19px;
    right: 50px;
}

button#cancel-search-form {
    position: absolute;
    top: 124px;
    right: 70px;
    background: none;
    border: none;
    color: #fff;
}

/*hover effect*/
.page-thumbnail {
	overflow: hidden;
}

#make-image-hover img:hover {
    transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
}
#make-image-hover img {
    height: auto;
    -webkit-transition: all ease 0.6s;
    -moz-transition: all ease 0.6s;
    -o-transition: all ease 0.6s;
    transition: all ease 0.6s;
}

.woocommerce #cir-banner , .woocommerce #cir-cta {
	display: none;
}