#customize-controls .control-section-example-1 .accordion-section-title:hover,
#customize-controls .control-section-example-1 .accordion-section-title:focus {
	background-color: #fff;
}

.control-section-example-1 .accordion-section-title .button {
	margin-top:  -4px;
	font-weight: 400;
	margin-left: 8px;
}

.rtl .control-section-example-1 .accordion-section-title .button {
	margin-left:  0;
	margin-right: 8px;
}

#customize-theme-controls li#accordion-section-circumference-upsells h3 {
    background: #29bdca;
    color: #fff
}
